@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dfdede;
}

nav{
    background-color: rgb(198, 198, 181);
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: 0 1px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items:center ;
}

nav ul li {
    margin: 25px;
    font-size: 25px;
    
}

nav ul li .active{
    color: black;
    font-weight: bold;
}

nav ul li:hover{
    background-color:burlywood;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius:15px;
}

.nav-left{
    
    flex: 50%;
}

.nav-right{
    
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}


form{

    width: 350px;
    margin: 0 auto;
}
form div h3{
    text-align: center;
}

form div {
    margin-top: 15px;
}
label{
    font-weight: bold;
}
input, select, textarea{
    background-color: white;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    resize: none;
    padding: 10px 5px;
}
button{
    background-color: black;
    color: white;
    padding: 5px 15px ;
    border-radius: 15px;
    float: right;
}
button:hover{
    background-color: burlywood;
    color: black;
    font-weight: bold
}